.acdemoapp {
    font-family: 'urw-din', Arial, Helvetica, sans-serif;

    .header{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: left;
        margin: 0px 40px;
    }
    .headertitle{
        padding: 20px;
        height: 60px;
        width: 520px;
    }
    .headerlogo{
        display: flex;
        justify-content: flex-start;
    }
    .img{
        width: 109px;
        height: 70px;
        object-fit: cover;

        img{
            width: 100px;
            height: 70px;
        }
    }
    .topPlaceholder {
        text-align: left;
        font-weight: bold;
        font-size: 23px;
        color: #696060;
        margin-top: 43px;
    }
    .navigationList{
        display: block;
    }

    .bottomPlaceholder {
        display: none !important;
        height: 40px;
        text-align: center;
        line-height: 2.5;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(2,0,36);
        background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(237,201,143,1) 0%, rgba(255,89,0,1) 89%);
    }
    a{
        text-decoration: none;
        color: #101a23;
        font-size: 16px;
    }
    ul{
        list-style: none;
        padding: 0px;
    }
    .headerDescription{
        font-size: 13px;
        color: #ff8400;
        margin-top: 5px;
    }
    .Navigation{
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        width: 460px;
    }

    // The first Drop Down////////////////////////////
    .dropDown{
        display: none;
    }
    .drop{
        position: relative;
        border-top: 3px solid #fff ;
        text-align: center;
    }
    .drop  ul{
        padding-top: 10px;
        padding-right: 20px;
        background: #ffe5da;
    }
 
    .drop a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: lighter;
        color: #878787;
    }
}